<html>
<head>
    <title>
        RevolutionUC Hacker Count
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700italic,700'
              rel='stylesheet' type='text/css'>
        <!-- Custom styles for this template -->
        <link href="css/carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css"></link>
        <link rel="stylesheet" href="css/toastr.min.css">
        <script src="js/jquery.js" type="text/javascript"></script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular-route.js"></script>s
        <script type="text/javascript" src="js/app.js"></script>
    </title>
</head>

<body ng-app="RevUc">
    <div ng-controller="HackerCtrl">
        <label>{{hackers.count}}</label>
    </div>
</body>
</html>